.write {
  &-box {
    display: flex;
    height: 120px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    overflow: hidden;
  }

  &-input {
    flex: 1;
    margin: 20px;
    border: transparent;
  }

  &-btn {
    width: 100px;
    background: var(--primary-color);
    color: #FFF;
  }
}

.comment {
  &-item {

    &.reply {
      & > .item {
        padding: 20px 30px 20px 50px;
        background: #f8f8f8;
      }
    }
  
    & > .item {
      display: flex;
      gap: 10px;
      padding: 20px 0;

      .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        &-default {
          position: relative;
          width: 100%;
          height: 100%;
          background: #eaeaea;
        
          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "\ea07";
            font-family: 'iconFont';
            color: #FFF;
            font-size: 24px;
          }
        }
      }

      .content {
        margin: 10px 0;

        textarea {
          padding: 10px 20px;
          width: 100%;
          min-height: 120px;
          border: 1px solid #d7d7d7;
          border-radius: 8px;
        }

        .btn-wrap {
          display: flex;
          justify-content: flex-end;
          gap: 8px;
          margin-top: 10px;
        }
      }

      .detail {
        flex: 1;
        
        .flex-box {
          display: flex;
          justify-content: space-between;
        
          .user-name {
            height: 40px;
            line-height: 38px;
          }

          .date,
          .btn-reply {
            color: #999;
            font-size: 14px;
          }
        }
      }
    }
  }
}